<div style="margin-left: 150px; width: 980px; margin-right: 150px">
  <h1>Children</h1>
  <div class="mb15">
    <app-boolean-prompt
      question="Do you have any children?"
      (selectionChanged)="onHasChildrenChanged($event)">
    </app-boolean-prompt>
  </div>
  <div *ngIf="children.length > 0">
    <div  class="childFormContainer" [ngClass]="{ 'editMode': children.length === 1 && !savedChild }">
      <h2>{{ children.length > 1 ? 'Children' : 'Child' }}</h2>
      <app-child-form
        *ngFor="let child of children; let i = index"
        [childIndex]="i"
        [showLegend]="children.length > 1"
        [isLast]="i === children.length - 1"
        (promptForAdditionalChildren)="onPromptForAdditionalChanges()"
        (cancelAdditionalChild)="onCancelAdditionalChild()"
        (removeChild)="onRemoveChild($event)"
        (saveChild)="onSaveChild($event)">
      </app-child-form>
    </div>
    <app-boolean-prompt
      *ngIf="promptForAdditionalChildren && children.length < 15"
      question="Do you have any other children?"
      (selectionChanged)="onHasOtherChildrenChanged($event)">
    </app-boolean-prompt>
  </div>
</div>