<p class="question di">{{ question }}</p>
<div class="radio di ml15">
  <div class="dib radio-button-container">
    <input id="question_yes" type="radio" name="question" value="true" (change)="selectionChanged.emit($event)">
    <label for="question_yes" class="radio-label">Yes</label>
  </div>
  <div class="dib radio-button-container">
    <input id="question_no" type="radio" name="question" value="false" (change)="selectionChanged.emit($event)">
    <label for="question_no" class="radio-label">No</label>
  </div>
</div>